body {
    background-color:whitesmoke;
    }
.sus1 {
    margin-left: 40px;
     margin-top: 20px;
   
     font-size:20px;
     font-size: 20px;color: white;  font-family: Geneva, Arial, Helvetica, sans-serif;padding-right: 1700px;position: relative;bottom: -40px;display:flex;justify-content:space-around
}
.sus2 {
    font-size: 20px;color: white;  font-family: Geneva, Arial, Helvetica, sans-serif;padding-right: 1000px;position: relative;bottom:6px;display:flex;justify-content:space-around
}
.sus3 {
    font-size: 20px;color: white;  font-family: Geneva, Arial, Helvetica, sans-serif;padding-left: 1550px;position: relative;bottom:47px;display:flex;justify-content:space-around
}

.partea-sus {
    background-color:brown ;

  }

.scris{
    font-size: 30px;color: black;  font-family: Geneva, Arial, Helvetica, sans-serif;padding-left: 100px;position: relative;bottom: 0px;display:flex;justify-content:space-around
}
.scris2 {
    font-size: 40px;color: black;  font-family: Geneva, Arial, Helvetica, sans-serif;padding-left: 100px;position: relative;bottom: 30px;display:flex;justify-content:space-around
}
.project{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #721212!important;
    letter-spacing: 2px;
    line-height: 1.6em;
}
.edit{
    margin-right:0px;position: relative;bottom:228px;
   padding-left:300px;
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size:18px;
}


.edit2{
    margin-right:0px;position: relative;bottom:228px;
    padding-left:300px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size:18px;
}
.project2{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #721212!important;
    letter-spacing: 2px;
    line-height: 1.6em; 
}

.edit3{
    margin-right:0px;position: relative;bottom:228px;
    padding-left:300px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size:18px;
}
.project3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #721212!important;
    letter-spacing: 2px;
    line-height: 1.6em; 
}
